{% extends "WebProjectApp/base.html" %}

{% load static %}

{% block content %}

{% for post in posts %}
<!--         var        view        -->

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="" 
        style="float: left; width: 50%; margin-left: 0px;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded" 
        style="width: 50%; left: 600;">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper" style="font-size: 0.8em;">{{post.title}}</span>
            <span class="section-heading-lower" style="font-size: 0.6em;">{{post.content}}</span>
          </h2>
          <div style="text-align: left; font-size: 0.9em;">Author: {{post.author}}</div>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

  <section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
    
        
        {% for post in posts %}

            {% for category in  post.categories.all %}

                {{category.name}} &nbsp;&nbsp;&nbsp;

            {% endfor %}

        {% endfor %}

        </div>
    </section>

{% endblock %}